<mat-card>
  <form (submit)="onFetchRecentTradeList(fetchForm)" #fetchForm="ngForm">
    <div class="flex-row">

      <mat-form-field class="symbol">
        <symbol-input
          name="symbol"
          placeholder="Symbol"
          ngModel
          #symbolInput="ngModel"
          [(ngModel)]="symbol"></symbol-input>
        <button
          mat-button matSuffix mat-icon-button
          *ngIf="symbol && (symbol.asset1 || symbol.asset2)"
          aria-label="Clear"
          (click)="clearSymbol()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint>BTC/USDT</mat-hint>
        <mat-error *ngIf="symbolInput.invalid">Symbol is required</mat-error>
      </mat-form-field>

      <mat-form-field class="limit">
        <input
          matInput
          name="limit"
          type="text"
          placeholder="Limit"
          [(ngModel)]="limit">
        <button
          mat-button matSuffix mat-icon-button
          *ngIf="limit"
          aria-label="Clear"
          (click)="clearLimit()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint>Default/Max: 1000</mat-hint>
      </mat-form-field>

    </div>

    <mat-checkbox class="lookback mat-small" name="lookback" [(ngModel)]="lookback" color="primary">Look back up to 1 hour</mat-checkbox>

    <button mat-raised-button color="primary" type="submit">Fetch</button>
  </form>
</mat-card>
