form {
  display: flex;
  font-size: 0.8rem;
  color: #8392A5;
}

.mat-hint {
  color: #8392A5;
}

.mat-raised-button {
  height: 2.4rem;
  margin: auto;
}

.lookback,
.symbol {
  width: 9rem;
  display: flex;
  margin-right:4rem;
}




