form {
  display:flex;
  flex-direction: column;
}

mat-card {
  margin: 1rem;
}

.flex-row {
  display: flex;
}
.symbol {
  width: 9rem;
}
.limit {
  width: 7rem;
}
.limit input {
  font-family: "Lucida Console", Monaco, monospace;
}
.lookback {
  margin-top: 1rem;
}

button[type="submit"] {
  margin-top: 1rem;
}




