<mat-card>
  <mat-card-header>
    <mat-card-title [ngClass]="isBuyerQtyWinner !== undefined ? (isBuyerQtyWinner ? 'buy' : 'sell') : ''">{{title}}</mat-card-title>
    <mat-card-subtitle>
      Quantity of
      <span class="primary">{{symbol ? symbol : '[ symbol ]'}}</span>
      traded within last
      <span class="primary">{{lookBack ? (lookBack | hms) : '[ period ]'}}</span>.
    </mat-card-subtitle>
  </mat-card-header>
  <app-qty-grouped-by-price
    [costAsset] = "costAsset"
    [qtyGroupedByPriceData]="qtyGroupedByPrice"
    [qtyTotalGroupedByPrice]="qtyGroupedByPriceTotalFormatted"
    [costTotalFormatted]="costTotalFormatted"></app-qty-grouped-by-price>
</mat-card>
