<mat-divider></mat-divider>
  <mat-card-header>
    <mat-card-title>Fetch History</mat-card-title>
  </mat-card-header>
  <div class="flex-row" *ngIf="fetchHistory && fetchHistory.length > 0">
    <mat-card *ngFor="let fetch of fetchHistory; let i = index" [attr.data-index]="i">
      <mat-card-header>
        <mat-card-title>
          <span [ngClass]="fetch.isBuyerWinner ? 'buy' : 'accent'">{{fetch.symbol.asset1+'/'+fetch.symbol.asset2}}</span>
        </mat-card-title>
        <mat-card-subtitle matTooltip="Time fetched">
          {{fetch.timeFetched | date:'medium'}}
        </mat-card-subtitle>
        <mat-card-subtitle matTooltip="Actual look back">
          {{fetch.lookBack | hms}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h4 matTooltip="Buy/Sell">Volume</h4>
        <div class="volume-container">
          <span>{{fetch.buyerQtyTotalFormatted}}</span>&nbsp;
          <div *ngIf="fetchHistory[i+1] && isSymbolEqual(fetchHistory[i+1].symbol,fetch.symbol)">
            <span class="buy" *ngIf="isQtyEqual(fetchHistory[i+1].buyerQtyTotal,fetch.buyerQtyTotal)"
                  matTooltip="No change in buy vol"> &#9644; </span>
            <span class="buy" *ngIf="isQtyGreaterThan(fetch.buyerQtyTotal, fetchHistory[i+1].buyerQtyTotal)"
                  matTooltip="Buy vol increased"> &#9650; {{ percentageChange(fetch.buyerQtyTotal,fetchHistory[i+1].buyerQtyTotal) }}%</span>
            <span class="accent" *ngIf="isQtyLessThan(fetch.buyerQtyTotal, fetchHistory[i+1].buyerQtyTotal)"
                  matTooltip="Buy vol decreased"> &#9660; {{ percentageChange(fetch.buyerQtyTotal,fetchHistory[i+1].buyerQtyTotal) }}%</span>
          </div>
        </div>
        <div class="volume-container">
          <span>{{fetch.sellerQtyTotalFormatted}}</span>&nbsp;
          <div *ngIf="fetchHistory[i+1] && isSymbolEqual(fetchHistory[i+1].symbol,fetch.symbol)">
            <span class="accent" *ngIf="isQtyEqual(fetchHistory[i+1].sellerQtyTotal,fetch.sellerQtyTotal)"
                  matTooltip="No change in sell vol"> &#9644; </span>
            <span class="buy" *ngIf="isQtyGreaterThan(fetch.sellerQtyTotal, fetchHistory[i+1].sellerQtyTotal)"
                  matTooltip="Sell vol increased"> &#9650; {{ percentageChange(fetch.buyerQtyTotal,fetchHistory[i+1].buyerQtyTotal) }}%</span>
            <span class="accent" *ngIf="isQtyLessThan(fetch.sellerQtyTotal,fetchHistory[i+1].sellerQtyTotal)"
                  matTooltip="Sell vol decreased"> &#9660; {{ percentageChange(fetch.buyerQtyTotal,fetchHistory[i+1].buyerQtyTotal) }}%</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card-content *ngIf="!fetchHistory || fetchHistory.length <= 0">
    No fetch history found!
  </mat-card-content>
