mat-card {
  margin: 1rem;
}

mat-card .mat-card {
  background-color: #21202D;
  width: 13.3rem;
}

mat-card .mat-card .mat-card-subtitle,
mat-card .mat-card .mat-card-content{
  color: #8392A5;
}


mat-card-content {
  margin: 0 1rem 0 1rem;
  font-size: 0.8rem;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.buy {
  color: #3BC340;
}

.sell {
  color: #F53739;
}
