<mat-card>
  <mat-card-header>
    <mat-card-title>Fetch History</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <div class="flex-row" *ngIf="fetchHistory && fetchHistory.length > 0">
    <mat-card *ngFor="let fetch of fetchHistory">
      <mat-card-header>
        <mat-card-title>
          <span [ngClass]="fetch.isBuyerWinner ? 'buy' : 'accent'">{{fetch.symbol.asset1+'/'+fetch.symbol.asset2}}</span>
        </mat-card-title>
        <mat-card-subtitle matTooltip="Time fetched">
          {{fetch.timeFetched | date:'medium'}}
        </mat-card-subtitle>
        <mat-card-subtitle matTooltip="Actual look back">
          {{fetch.lookBack | hms}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Bought: {{fetch.buyerQtyTotalFormatted}}<br>
        Sold: {{fetch.sellerQtyTotalFormatted}}
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card-content *ngIf="!fetchHistory || fetchHistory.length <= 0">
    No fetch history found!
  </mat-card-content>
</mat-card>
